:root {
    --color-slider-checked: rgb(42 143 42);
    --color-slider-background: #ccc;
    --color-slider-forground: #fff;
    --time-slider-transition: 300ms;

    --primary-background: #ffffff;
    --primary-color: #3176b3;
    --primary-text: var(--primary-color);
    --primary-accent: #87c917;
    --secondary-color: #ffec28;
    --secondary-text:  #228b21;
    --disabled: #cfd8dc;
}

.dark-mode {
    --primary-background: #262626;
}

