h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    background-color: transparent; 
    color: var(--secondary-color); 
    margin: 0;
}
  
svg.icon {
    display: inline;
    height: 2em;
    width: 2em;
    vertical-align: top;
    fill: currentColor;
}
  
a:link,
a:visited,
a:hover{
    color: var(--secondary-color);
    text-decoration: none;
}

.dropdown {
    background: var(--secondary-color);
    color: var(--secondary-text);
    border-radius: 15px;
}

.dropdown a:link,
.dropdown a:visited,
.dropdown a:hover {
    color: var(--secondary-text);
}

input[type=text]{
    border-radius: 10px;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/source-images/background/musicwave.gif');
    background-size: auto;
    background-position: center;
}

.container {
    position: absolute;
    top: 50%;
    width: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
}

.searchbar {
    width: 100%;
    max-width: calc(100% - 3em);
    height: 3em;
}